* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: ´Roboto´, sans-serif;

  margin: 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}

button {
  font-size: 1.5em;

  font-weight: bold;

  padding: 10px 30px;

  border-radius: 10px;

  border: 1px solid rgba(0, 0, 0, 0.5);

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

  color: rgb(70, 67, 67);

  background-color: rgb(58, 160, 163);
}

button:hover {
  background-color: rgb(168, 223, 243);
}

.container {
  max-width: 1400px;

  margin: auto;
}

.color-acento {
  color: rgb(50, 190, 172);
}

header {
  background-color: rgb(245, 245, 245);
}

header .logo {
  margin: 0;

  padding: 25px 30px;

  font-weight: bold;

  color: rgb(38, 172, 172);

  font: size 1.6em;
}

header .container {
  display: flex;

  flex-direction: column;

  align-items: center;
}

header nav {
  display: flex;

  flex-direction: column;

  text-align: center;

  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;

  text-decoration: none;

  font-weight: bold;

  color: black;
}

header a:hover {
  color: blueviolet;
}

#hero {
  display: flex;

  align-items: center;

  justify-content: center;

  text-align: center;

  flex-direction: column;

  height: 90vh;

  color: white;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(imagenes/toma_decisiones.webp);

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center center;
}

#hero h1 {
  color: white;
}

#hero button {
  font-size: 1.8em;
}

#sobre-rec .container {
  text-align: center;

  padding: 200px 12px;
}

#rec-servicios {
  background-color: rgb(30, 30, 30);

  color: white;

  text-align: center;
}

#rec-servicios .container {
  padding: 150px 12px;
}

#rec-servicios h2 {
  margin-top: 0;

  font-size: 3em;
}

#rec-servicios p {
  display: none;
}

#rec-servicios .carta {
  background-position: center center;

  background-size: cover;

  padding: 50px 0px;

  margin: 30px;

  border-radius: 15px;
}

.carta:first-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(imagenes/servcio\ commnity.jpg);
}

.carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(imagenes/servicio\ diseño\ de\ marcas.jpg);
}

.carta:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(imagenes/servicio\ planificador.jpg);
}

#caracteristicas .container {
  text-align: center;

  padding: 200px 12px;
}

#caracteristicas ul {
  padding: 0;
}

#caracteristicas li {
  margin: 16px 0px;

  font-weight: bold;
}

.container_trabajos {
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-content: center;
}

.container_trabajos__title {
  text-align: center;
}

.trabajos {
  display: flex;
}

.rec-trabajos {
  display: flex;

  justify-content: space-around;
}

.imagen {
  margin: 24px 0 10px;

  max-width: 80%;
}

#creamos-juntos {
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  text-align: center;

  background-color: rgb(30, 30, 30);

  color: white;

  height: 80vh;
}

#creamos-juntos h2 {
  font-size: 9vw;
}

#creamos-juntos button {
  font-size: 5vw;
}

footer {
  background-color: rgb(230, 226, 233);
}

footer p {
  color: rgb(100, 100, 100);
}

footer .container {
  height: 75px;

  display: flex;

  justify-content: center;

  align-items: flex-end;
}

@media (min-width: 720px) {
  header {
    position: fixed;

    width: 100%;
  }

  header .container {
    flex-direction: row;

    justify-content: space-between;
  }

  header nav {
    flex-direction: row;

    padding-bottom: 0;

    padding-right: 20px;
  }

  #hero h1 {
    font-size: 3em;
  }

  #sobre-rec .container {
    display: flex;

    justify-content: space-evenly;
  }

  #sobre-rec .texto {
    width: 50%;

    max-width: 600px;

    text-align: initial;

    padding-left: 40px;

    display: flex;

    flex-direction: column;

    justify-content: center;
  }

  #sobre-rec h2 {
    margin-top: 0px;
  }

  #sobre-rec .img-container {
    background-image: url("imagenes/foto\ cortada-min.jpg");

    background-size: cover;

    background-position: center center;

    height: 500px;

    width: 400px;
  }

  #rec-servicios .servicios {
    display: flex;

    justify-content: center;
  }

  #rec-servicios p {
    display: block;

    margin-bottom: 30px;
  }

  #rec-servicios h2 {
    font-size: 4em;
  }

  #rec-servicios h3 {
    margin-top: 0;
  }

  #rec-servicios .carta {
    padding: 20px;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  #caracteristicas {
    background-image: url("imagenes/14463295_881466421984772_2098806869132422444_n.jpg");

    background-repeat: no-repeat;

    background-size: 300px 300px;

    background-position: calc(100vw - 500px) 120px;
  }

  #caracteristicas .container {
    text-align: initial;
  }

  #caracteristicas ul {
    margin-left: 100px;
  }

  #section-trabajos {
    margin-bottom: 40px;
  }

  .container_trabajos {
    flex-direction: row;
  }

  .imagen {
    width: 300x;

    height: 300px;
  }

  .imagen1:hover,
  .imagen1:focus {
    margin: 0;

    transition: 0.2s;

    transform: scale(1.1);

    width: 400px;
  }

  .imagen2:hover,
  .imagen2:focus {
    margin: 0;

    transition: 0.2s;

    transform: scale(1.1);

    width: 400px;
  }

  .imagen3:hover,
  .imagen3:focus {
    margin: 0;

    transition: 0.2s;

    transform: scale(1.1);

    width: 400px;
  }

  .imagen4:hover,
  .imagen4:focus {
    margin: 0;

    transition: 0.2s;

    transform: scale(1.1);

    width: 400px;
  }

  #creamos-juntos h2 {
    font-size: 5em;
  }

  #creamos-juntos button {
    font-size: 2em;
  }
}

@media (min-width: 1200px) {
  #caracteristicas {
    background-position: (100vw - 800px);
  }
}
